.prepare-test {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  text-transform: uppercase;
  font-size: 24px;
}
.share-btn {
  border: 0px;
  border-radius: 5px;
  width: 49%;
  color: #ffffff;
}
.share-btn div {
  padding: 5px 0;
}
.share-btn a {
  color: #ffffff;
}
.share-btn div img {
  width: 20%;
  margin: 0 15px;
}
#share-whatsapp {
  background: #128c7e;
}
#share-facebook {
 background: dodgerblue;
}
.sharelink {
  padding: 10px;
  background: #383838;
  color: #ffffff;
  margin: 20px 0px;
}
.btn {
  width: 100%;
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #fff;
}
.clipdiv {
  margin: 10px 0;
}
