<h1 class="prepare-test">Share</h1>
<hr>
<h2>Congratulations {{ name }} ! </h2>
<br />
<h3>Your quiz created successfully.</h3>
<button id="share-whatsapp" class="share-btn"><a [href]="'whatsapp://send?text=Hey%20Pal%20!%20Check%20this%20out%20!%20Its%20Fun%20' + shareurl"><div><img src="../../../assets/images/facebook.png">Whatsapp</div></a></button>
<button id="share-facebook" class="share-btn"><div><img src="../../../assets/images/facebook.png">Facebook</div></button>
<p class="sharelink">{{shareurl}}</p>
