<h1 class="prepare-test">Prepare Test</h1>
<hr>
<div class="container-fluid">
    <div>{{id+1}} / {{maxtest}}</div>
    <div *ngIf="loaded">
      <div class="question-container">
        <!--<p *ngIf="!editMode; else editQuestion;">-->
        <p>
          {{Questions[id].question}}
        </p>
        <!--<ng-template #editQuestion>-->
          <!--<div class="form-group">-->
            <!--<input class="form-control" [(ngModel)]="Questions[id].question">-->
          <!--</div>-->
        <!--</ng-template>-->
      </div>
      <hr />
      <div class="answers-container">
        <div class="funkyradio">
          <div *ngIf="!editMode; else editAnswers;">
            <form id="answerform" name="answerform" [formGroup]="answerForm">
              <div class="funkyradio-primary">
                <input type="radio" formControlName="answer" value="0" id="radio1">
                <label [for]="'radio1'">{{Questions[id].options[0]}} </label>
              </div>
              <div class="funkyradio-primary">
                <input type="radio" formControlName="answer" value="1" id="radio2">
                <label [for]="'radio2'">{{Questions[id].options[1]}} </label>
              </div>
              <div class="funkyradio-primary">
                <input type="radio" formControlName="answer" value="2" id="radio3">
                <label [for]="'radio3'">{{Questions[id].options[2]}} </label>
              </div>
              <div class="funkyradio-primary">
                <input type="radio" formControlName="answer" value="3" id="radio4">
                <label [for]="'radio4'">{{Questions[id].options[3]}} </label>
              </div>
            </form>
          </div>
          <ng-template #editAnswers>
            <form [formGroup]="tempForm">
              <div class="form-group">
                <input type="text" formControlName="option1" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" formControlName="option2" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" formControlName="option3" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" formControlName="option4" class="form-control">
              </div>
            </form>
          </ng-template>
        </div>
      </div>
      <hr />
      <div class="">
        <button (click)="onToggleMode()" class="next-btn" [innerHTML]="editMode === false ? 'Edit' : 'Update'"></button>
        <button (click)="goToNextQuestion(Questions[id].id)" [ngClass]="{'next-btn': answerForm.dirty, 'next-btn-dis': !answerForm.dirty}" [disabled]="!answerForm.dirty" >Next</button>
      </div>
    </div>
  </div>

