<div class="localusercomponent">
  <hr />
  <p style="text-align: center">Everyone you send invitation can respond to this quiz !</p>
  <hr />
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Enter Your Name" #username required>
  </div>
  <div class="form-group">
    <input class="form-control" type="email" placeholder="Enter Your Email" #email email required>
    <span class="email-valid-text" style="font-size: 10px;">We will send result link to your mail</span>
  </div>
  <div class="form-group">
    <input type="submit" value="START" class="name-input my-fancy-btn" (click)="onSubmitName()">
  </div>
</div>

