.next-btn {
  width: 100%;
  padding: 8px;
  border: 0px;
  color: #fff;
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
}
.next-btn-dis {
  width: 100%;
  padding: 8px;
  border: 0px;
  color: #fff;
  background: linear-gradient(170deg, black, white);
}
.prepare-test {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  text-transform: uppercase;
  font-size: 24px;
}
.panel-title{
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
}
.wrong-panel-title {
  background: tomato;
}
.correct-panel-title {
  background: #19aea5;
}
.social-buttons button{
  padding: 8px;
  width: 49%;
  border: 0px;
  color: #ffffff;
  border-radius: 5px;
}
.social-buttons button.facebook {
  background: linear-gradient(-15deg, #3b5998,#ffffff )
}
.social-buttons button.google {
  background: linear-gradient(-15deg, #d34836,#ffffff )
}
.start-btn {
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #ffffff;
}
.your-turn {
  text-align: center;
  z-index: 99999;
  background: #2d2d2d;
  height: 100vh;
  width: 100%;
  color: #fff;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
.your-turn .txt {
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  position: fixed;
}
.your-turn .cancel {
  position: fixed;
  right: 10px;
  width: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
.show-some-message-box {
  padding: 30px;
}
.fewtextarea {
  height: 110px;
}
.ready-btn {
  width: 100%;
}
