/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 3.5em;
  text-indent: 4.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
.funkyradio small {
  float: right;
  background: linear-gradient(170deg, #01a59c, #27a8e1);
  text-align: center;
  color: #fff;
  width: 35px;
  padding: 10px;
}
.funkyradio small img {
  width: 100%;
}

.quizCounter {
  text-align: center;
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  width: 70px;
  float: right;
  border-radius: 5px;
  padding: 2px 5px;
  color: #fff;
}
.select-type {
  margin: 85px 0px
}
.social-buttons button{
  padding: 8px;
  width: 49%;
  border: 0px;
  color: #ffffff;
  border-radius: 5px;
}
.social-buttons button.facebook {
  background: linear-gradient(-15deg, #3b5998,#ffffff )
}
.social-buttons button.google {
  background: linear-gradient(-15deg, #d34836,#ffffff )
}
.button-test-type {
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.name-input {
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #ffffff;
  padding: 15px;
  text-align: center;
  border: 5px solid #fff;
  border-radius: 10px;
  height: auto;
}

.prepare-test {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  text-transform: uppercase;
  font-size: 24px;
}

.desc {
  padding: 0px 10px;
  text-align: center;
  text-transform: uppercase;
}


.my-fancy-btn {
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border: 5px solid #fff;
  border-radius: 10px;
  height: auto;
}

.next-btn {
  width: 100%;
  padding: 8px;
  border: 0px;
  color: #fff;
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
}
.next-btn-dis {
  width: 100%;
  padding: 8px;
  border: 0px;
  color: #fff;
  background: linear-gradient(170deg, black, white);
}
.prepare-test {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  text-transform: uppercase;
  font-size: 24px;
}
.panel-title{
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
}
.wrong-panel-title {
  background: tomato;
}
.correct-panel-title {
  background: #19aea5;
}
.social-buttons button{
  padding: 8px;
  width: 49%;
  border: 0px;
  color: #ffffff;
  border-radius: 5px;
}
.social-buttons button.facebook {
  background: linear-gradient(-15deg, #3b5998,#ffffff )
}
.social-buttons button.google {
  background: linear-gradient(-15deg, #d34836,#ffffff )
}
.start-btn {
  background: linear-gradient(170deg, #48c6ef, #6f86d6);
  color: #ffffff;
}
.your-turn {
  text-align: center;
  z-index: 99999;
  background: #2d2d2d;
  height: 100vh;
  width: 100%;
  color: #fff;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
.your-turn .txt {
  top: 50%;
  left: 50%;
  color: #ffffff;
  transform: translate(-50%, -50%);
  position: fixed;
}
.your-turn .cancel {
  position: fixed;
  right: 10px;
  width: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
.show-some-message-box {
  padding: 30px;
}
.fewtextarea {
  height: 110px;
}
.ready-btn {
  width: 100%;
}

