<div class="container-fluid container-index-one">
  <h1 class="font-head">Curious, how much your friends knows about you ?</h1>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-6 create-test-btn" (click)="onNewTest()">Lets Know</div>
  </div>
</div>

<div class="container-fluid know-how-it-works" id="how-works">
  <div class="container-head">
    <h1>How it works ?</h1>
    <p>Just some simple steps and you are ready to go</p>
  </div>
  <div class="container-content">
    <div class="row">
      <div class="col-md-3 khiw-boxes" data-aos="zoom-in">
        <div class="inner-exact"><img src="../../assets/images/reg.png" class="img-responsive"> <p>Register for zingur</p></div>
      </div>
      <div class="col-md-3 khiw-boxes" data-aos="zoom-in">
        <div class="inner-exact"><img src="../../assets/images/entry.png" class="img-responsive"> <p>Create Customized test</p></div>
      </div>
      <div class="col-md-3 khiw-boxes" data-aos="zoom-in">
        <div class="inner-exact"><img src="../../assets/images/share.png" class="img-responsive"> <p>Share test link</p></div>
      </div>
      <div class="col-md-3 khiw-boxes" data-aos="zoom-in">
        <div class="inner-exact"><img src="../../assets/images/analysis.png" class="img-responsive"> <p>Sitback and get results</p></div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>FalconX Labs</p>
  <p>&copy; zingur</p>
</div>
